<!DOCTYPE html>
<html ng-app="App">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pathfinder: ACG Dice Roller</title>

	<link href="//d2v52k3cl9vedd.cloudfront.net/basscss/5.2.1/basscss.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link href="css/style.css" rel="stylesheet">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
	<script src="js/angular.min.js"></script>
	<script src="js/index.min.js"></script>
</head>
<body ng-controller="Controller">

<div class="container">
	<div class="clearfix p1">

		<header class="center">
			<img src="img/pacg-logo.png" alt="Pathfinder ACG logo">
		</header>

		<form name="diceForm" novalidate>
			<table class="table-light mb1">
				<tbody>
					<tr>
						<td class="px0"><label for="id4">d4:</label>
							<input name="id4" id="id4" type="number" min=0 max=10 ng-model="d4" class="block full-width field-dark" accesskey="q" title="(q)"></td>
						<td class="px0"><label for="id6">d6:</label>
							<input name="id6" id="id6" type="number" min=0 max=10 ng-model="d6" class="block full-width field-dark" accesskey="w" title="(w)"></td>
						<td class="px0"><label for="id8">d8:</label>
							<input name="id8" id="id8" type="number" min=0 max=10 ng-model="d8" class="block full-width field-dark" accesskey="e" title="(e)"></td>
						<td class="px0"><label for="id10">d10:</label>
							<input name="id10" id="id10" type="number" min=0 max=10 ng-model="d10" class="block full-width field-dark" accesskey="r" title="(r)"></td>
						<td class="px0"><label for="id12">d12:</label>
							<input name="id12" id="id12" type="number" min=0 max=10 ng-model="d12" class="block full-width field-dark" accesskey="t" title="(t)"></td>
						<td class="px0"><label for="idbonus" class="italic">+modifier?</label>
							<input name="idbonus" id="idbonus" type="number" min=0 max=10 ng-model="skillbonus" class="block full-width field-dark" accesskey="y" title="(y)"></td>
					</tr>
				</tbody>
			</table>

			<p class="center"><button ng-click="d_roll()" class="button button-big white-trans bg-maroon2" title="Attempt your check!" accesskey="c"><i class="fa fa-check-circle"></i> <span class="dice_pool" ng-bind="d_all()"></span></button></p>
		</form>

		<div class="mt2 mb4">
			<div class="overflow-hidden bg-white-trans rounded">
				<div class="p2 bg-brown light-tan">
					<h3 class="h3 m0"><i class="fa fa-cubes"></i> Results!</h3>
				</div>
				<div class="p2">
					<table class="table-light roll-results">
						<thead>
							<tr>
								<th>Dice in Check</th>
								<th>Rolled</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="result in d_results">
								<td>{{result.dice}}</td>
								<td class="italic">{{result.all}}</td>
								<td class="h3 bold maroon2 center">{{result.total}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<footer class="center maroon-dark mb2">
			<p><i class="fa fa-coffee"></i> Built with caffeine | <i class="fa fa-github"></i> <a href="https://github.com/bishless/PACG-dice">Source</a></p>
			<p class="legal"><strong><a href="http://paizo.com/pathfinder/adventureCardGame">Pathfinder: Adventure Card Game</a></strong> ©2002–2015 <a href="http://paizo.com/">Paizo Inc</a>.®. Paizo Inc., Paizo, the Paizo golem logo, Pathfinder, the Pathfinder logo, Pathfinder Society, GameMastery, and Planet Stories are registered trademarks of Paizo Inc., and Pathfinder Roleplaying Game, Pathfinder Campaign Setting, Pathfinder Adventure Path, Pathfinder Adventure Card Game, Pathfinder Player Companion, Pathfinder Modules, Pathfinder Tales, Pathfinder Battles, Pathfinder Online, PaizoCon, RPG Superstar, The Golem's Got It, Titanic Games, the Titanic logo, and the Planet Stories planet logo are trademarks of Paizo Inc.</p>
		</footer>


	</div>
</div><!-- /.container -->

</body>
</html>
